.wrapper {
  display: grid;
  grid-gap: 0;
  background-color: #F4F9FC;
}

.main-head {
  background-color: #FFFFFF;
  grid-area: header;
  height: 64px;
  border-bottom: 1px solid #EAEEF4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.main-head__logo__img {
  height: 16px;
}

.menu-profile,
.menu-profile__avatar,
.menu-profile__menu,
.menu-profile__menu__name,
.menu-profile__menu__collapse {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.menu-profile__menu__collapse__img {
  max-width: 9px;
}

.main-nav {
  grid-area: nav;
  padding: 40px;
  background-color: #FFFFFF;
}

.content {
  grid-area: content;
}

ul {
  list-style: none;
  padding: 0;
  padding-inline: 0;
}

@media (max-width: 699px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "content";
  }

  .content {
    padding: 15px 25px;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 240px 1fr;
    grid-template-areas: "header header" "nav content";
  }

  .content {
    padding: 40px 60px;
  }

  ul {
    flex-direction: column;
  }
}


::ng-deep {
  .clickable {
    cursor: pointer;
  }
}
