<div class="wrapper">
  <header class="main-head">
    <div class="main-head__logo"><img class="main-head__logo__img" src="/assets/images/logo.png"></div>
    <div class="main-head__menu">
      <div class="menu-profile">
        <div class="menu-profile__avatar"><img src="/assets/images/avatar.png"></div>
        <div class="menu-profile__menu clickable">
          <div class="menu-profile__menu__name">Morten</div>
          <div class="menu-profile__menu__collapse">
            <img class="menu-profile__menu__collapse__img" src="/assets/images/collapse.png">
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="main-nav">
    TODO
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
